<div class=" content">
  <div class="content-text">
    <div class="text">
      <h2>
        <strong>Hola,</strong>
      </h2>
      <div>soy Jarvis, tu futuro asistente personal. Mejora mas tu dia a dia.</div>
    </div>
    <div class="know-me">
      <div>Conoceme mas</div>
      <i class="fas fa-arrow-down"></i>
    </div>
  </div>
</div>
<div class="about-jarvis">

  <div class="hola">
    <particles [style]="style" [width]="width" [height]="height" [params]="params">

    </particles>
  </div>

  <div class="description">
    Algunos de vosotros me conocereis de la pelicula de marvel, Jarvis. El asistente inteligente de Tony Stark (Iron Man). Podria
    decir-se que soy un ente que no tiene forma física, como veis en la parte izquierda. Como la conexiones que hay en un
    cerebro humano. Yo aun estoy en fase de desarollo, pero eso no descarta que no pueda ayudarte con tus tareas del hogar.
    Tengo muchas funcionalidades. Y mi unico proposito es mas que servirte es hacer que tengas mas tiempo para ti.

    <div>

    </div>
  </div>
</div>

<div class="skills">
  <div class="skills-contain">

    <div class="home">
      <div class="content-img-text">
        <div class="home-img">
        </div>
        <div class="home-text">
          <h2>Adaptado a tu entorno</h2>
          <div>
            Cualquier hogar sera bueno para mi.
          </div>

        </div>
      </div>
      <div class="home-conection-text">
        <h2>Conexion con tu hogar</h2>
        <div>
          Conectame con tus aparatos electronicos, principal funcionalidad :
          <strong>encendido y apagado.</strong>
        </div>
        <strong>Ver mas
          <i class="fas fa-arrow-right"></i>
        </strong>

      </div>
      <div class="devices">
        <div class="desktops">
        </div>
        <div class="desktops-text">
          Comunicate En Diferentes M Dispositivos.
          <div>
            Interactua conmigo. Diferentes interfaces.
          </div>
        </div>
      </div>
    </div>
    <div class="home-conection">
      <div class="home-conection-img"></div>
      <div class="i-artifitial">
        <div class="ia-text">
          <h1>A.I</h1>
          <div>Mi inteligencia es limitada. Mi sofware es avanzado, no obstante siguen los progresos.</div>
          <span>
            <strong>Si quieres saber mas sobre A.I.</strong>
            <i class="fas fa-arrow-right"></i>
          </span>
        </div>
        <div class="ia-img"></div>
      </div>
    </div>


  </div>

</div>

<!-- <div class=" some-tasks">
  <div class="tasks-title">
    <div>Que puedo hacer por ti </div>

  </div>
  <div class="content-tasks">
    <div class="contain-fluid album-content-1">
      <div class="row row-content">
        <div class="col column">
          <div class="control-devices">
            <div class="layout">
              <div class="layout-btn">Hogar</div>
              <div class="layout-text">
                asdasdasdsads
              </div>
            </div>
          </div>
        </div>
        <div class="col column-md">
          <div class="schedule">
            <div class="layout">
              <div class="layout-btn">dispositivos</div>
              <div class="layout-text">
                asdasdasdsads
              </div>
            </div>
          </div>
        </div>
        <div class="col column">
          <div class="teacher">
            <div class="layout">
              <div class="layout-btn">Educar</div>
              <div class="layout-text">
                asdasdasdsads
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="contain-fluid album-content-2">
      <div class="row row-content">
        <div class="col column">
          <div class="security">
            <div class="layout">
              <div class="layout-btn">Seguridad</div>
              <div class="layout-text">
                asdasdasdsads
              </div>
            </div>
          </div>
        </div>
        <div class="col column-md"></div>
        <div class="col column"></div>
      </div>
    </div>
  </div>

</div> -->

<div class="updates-jarvis">
  <div class="updates-text">
    <div>Actualmente estoy en fase de desarollo y de prueba.</div>
    <div class="baby-jarvis">Conoce mis habilidades con mi primera fase
      <strong>Jarvis</strong>
      <button routerLink="/jarvis-chat" class="mdl-button mdl-js-button mdl-button--primary">
        Comienza ahora
      </button>

      <div class="baby-jarvis-img">

      </div>
    </div>
  </div>

</div>
<div class="footer">
  <div class="form">
    <form>
      <div class="form-group">
        <label for="">Correo</label>
        <input class="form-control" type="text" placeholder="correo">
      </div>
      <div class="form-group">
        <label for="">comentario</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
      </div>
    </form>
  </div>
</div>