.chatList {
  display: flex;
  width: 800px;
  height: 500px;
  flex-direction: column;
  overflow: auto;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.list-group-item {
  display: flex;
  background-color: rgba(255, 255, 255, 0.494);
}
#style-2::-webkit-scrollbar-track {
  background: rgb(142, 23, 23);
}
